body {
  background-color: beige;
}
h2{
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 16px;
  }

  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .myDiv {
    /* border: 5px outset red; */
    background-color: lightblue;    
    text-align: center;
    width: auto;
  }
  .input {
    background-color: bisque;
  }
  .header {
    /* border: 5px outset red; */
    background-color: ghostwhite;    
    text-align: center;
    width: auto;
    
  }

  .questions{
    background-color: azure;

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
